body
{
    background-color: #e5f8fa;
    font-family: Tahoma;
    font-size: 13px;
}

.game-window
{
    width: 840px;
    margin: 30px auto;
    text-align: center;
}

#cr-stage
{
    text-align: left;
}

.faq
{
    background-color: #cdf3f7;
    width: 840px;
    margin: 30px auto;
    text-align: center;
}

.faq-element
{
    text-align: left;
    padding: 10px 15px 10px 15px;
}

h2
{
    font-size: 16px;
    margin: 0 0 5px 0;
}

p
{
    text-align: justify;
    margin: 0 0 5px 0;
    line-height: 1.5;
}

a
{
    color: #1a8abb;
    text-decoration: none;
}

a:hover
{
    color: #20a7e0;
    text-decoration: underline;
}

.license
{
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.0;
}

.foot
{
    width: 840px;
    margin: 30px auto;
    text-align: center;
    font-size: 10px;
}